@model IEnumerable<job_offers.Models.job>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/shared/_MainLayout1.cshtml";
}

<h2>jobs list</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new {@class = "btn btn-success mybtn" })
</p>
<table class="table table-striped table-bordered table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => item.JobContent).ToString()))

        </td>
        <td>
            <img src="~/uploads/@Html.DisplayFor(modelItem => item.JobImage)" class="thumbnail"style="width:100px" alt="this is image" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID },new {@class = "btn btn-success mybtn" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID },new {@class = "btn btn-info mybtn" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID },new {@class = "btn btn-danger mybtn" })
        </td>
    </tr>
}

</table>

<script src="~/scripts/size-ext-emp edite job.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
